body {
    background: url("../images/2.jpg");
    margin-top: 75px !important;
    overflow-y: scroll;
}
.colors {
    width: 100%;
    margin-top: -97px;
    margin-bottom: 97px;
}
.c1 {
    background: #327ea3 ;
}
.c2 {
    background: #4ca5d0;
}
.c3 {
    background: #6ca338;
}
.c4 {
    background: #ffbc38;
}
.c5 {
    background: #e82c0c;
}
ul {
    border: none !important;
}
.iconica {
    margin-left: -74px !important;
}
.material-icons-new-style {
    width:60px; 
    height: 59px;
    padding-top: 15px;
    color: white;
    text-align: center;
}

.print-button {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 20px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    float: right;
    margin-right: 2px;
    top: 0px;
    left: 66px;
    height: 59px !important;
    line-height: 59px !important;
}

.download-button {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 20px !important;
    float: right;
    margin-right: -1px;
    top: 59px;
    left: 129px;
    height: 60px !important;
    line-height: 60px !important;
}

.print-download {
    font-size: 32px !important;
}

.arrow-down {
    float: right;
    color: #5a5a5a !important;
    width: 34px;
    height: 34px;
    cursor: pointer;
    text-align: center !important ;
    font-size: 30px !important;
    padding-top: 1px !important;
    border: 2px solid #5a5a5a !important;
    border-radius: 50%;
    z-index: 1 !important;
}
li>div>div>.arrow-down:after {
    content: "expand_more";
}

li.active>div>div>.arrow-down:after {
    content: "expand_less";
}

.arrow-down:hover {
    background: white !important;
    color: #363535 !important;
}
.person {
    margin-left: -74px !important;
    background-color:#4ca5d0;
    margin-top: -15px !important;
    border-bottom-left-radius:  20px !important;
    border-top-left-radius: 20px !important;
}
 
#person {
    height: 60px !important;
    background-color: #4ca5d0 !important;
}

.prva {
    color: white;
    font-size: 26px;
}

.centrirano {
    position: relative;
    line-height: 0px;
    text-align: center;
    top: -30px;
}
.collapsible-header {
    background-color: #363535 !important;
    display: block !important;
    padding-bottom: 0px !important;
    border-bottom: 1px solid #5a5a5a !important;
}
.collapsible-header:hover{
    background: #2c2b2b !important;
}
.collapsible-body {
    background-color: #363535;  
}
.kolona {
    background-color: #363535;
    margin-bottom: -1px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.slika {
    border-radius: 20px;
    height: 20% !important;
    margin-top: 10px;   
}

.profil-name {
    text-transform: uppercase;
    color:white;
    font-size: 30px;
   
}

.profile-position {
    color:#4ca5d0;
    margin-bottom: 15px;
}
.td {
    color:#4ca5d0  
}
.tabela {
    color:white;
    width: 100%;
}
.animacija > .tabela :active {
    transform-origin: 100% 100%;
    transform: rotate(90deg);
}
.sort {
    background-color: #6ca338 ;
    margin-top:-15px;
    padding-bottom: -1px !important;
    border-bottom-left-radius:  20px !important;
    border-top-left-radius: 20px !important;
}
.print {
    background: #6ca338 !important;
    float: right;
}

.background-druga {
    transition-duration: 0.8s;
    transform-origin: left;
    transform: scaleX(0);
    background-color: #6ca338;
    width: 160px !important;
    height: 59px !important;
    position: absolute;
    margin-top: -15px !important;
    border-bottom-right-radius:  20px !important;
    border-top-right-radius: 20px !important;
}

li.active>div>div>.background-druga {
    transform: scaleX(1);
}

.druga {
    color: white;
    width: 160px !important;
    height:59px !important;
    position: absolute;
    border-bottom-right-radius:  20px !important;
    border-top-right-radius: 20px !important;
    margin-top: -15px !important;
    text-align: left;
    padding-left: 20px;
    padding-top: 15px;
    font-size: 22px;
  
}
.business {
    background-color: #ffbc38;
    padding-bottom: 0px !important;
    margin-top: -15px;
    border-bottom-left-radius:  20px !important;
    border-top-left-radius: 20px !important;
}

.background-treca {
    transition-duration: 0.8s;
    transform-origin: left;
    transform: scaleX(0);
    background-color: #ffbc38;
    width: 160px !important;
    height: 59px !important;
    position: absolute;
    margin-top: -15px !important;
    border-bottom-right-radius:  20px !important;
    border-top-right-radius: 20px !important;
}

li.active>div>div>.background-treca {
    transform: scaleX(1);
}

.treca {
    color: white;
    width: 160px !important;
    height: 59px !important;
    position: absolute;
    border-bottom-right-radius:  20px !important;
    border-top-right-radius: 20px !important;
    margin-top: -15px !important;
    text-align: left;
    padding-left: 20px;
    padding-top: 15px;
    font-size: 22px;
}
.mail {
    background-color: #e82c0c;
    padding-bottom: 0px !important;
    margin-top: -15px;
    border-bottom-left-radius:  20px !important;
    border-top-left-radius: 20px !important;
}
.title {
    font-size: 30px;
    color: white;
}

.background-cetvrta {
    transition-duration: 0.8s;
    transform-origin: left;
    transform: scaleX(0);
    background-color: #e82c0c;
    width: 160px !important;
    height: 59px !important;
    position: absolute;
    margin-top: -15px !important;
    border-bottom-right-radius:  20px !important;
    border-top-right-radius: 20px !important;
}

li.active>div>div>.background-cetvrta {
    transform: scaleX(1);
}
.cetvrta {
    color: white;
    width: 160px !important;
    height: 59px !important;
    position: absolute;
    border-bottom-right-radius:  20px !important;
    border-top-right-radius: 20px !important;
    margin-top: -15px !important;
    text-align: left;
    padding-left: 20px;
    padding-top: 15px;
    font-size: 22px;
}
.imageIndex {
    height: 100% !important;
    width: 100% !important;
}
label.required::after {
    content: "*";
    position: relative;
    top: 5px;
    right: -12px;
    color: #bc3a3a;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}
.field {
    line-height: 20px;
    padding: 7px 10px 8px !important;
    color: white;
}
input[type=text] {
    border: 1px solid #e5e5e5 !important;
    background-color: #1d1c1c;   
}
textarea {
    outline-color: #ddd;
}
.enter {
    border-color: #3b3b3b;
    background: #3b3b3b;
    color: #646464;
    padding: 5px 12px 6px;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 2px;
    border: 2px solid #3b3b3b;
    margin-left: 9px;
}
.enter:hover {
    background: #222222;
}

.date-img {
    margin-top: 50px !important;
    margin-left: 40px;
    background: white;
    height: 250px !important;
    text-align: center;
}
.center {
    position: relative;
    text-align: left !important;
}
.Software-Skills {
    font-size: 30px;
    color: #fff;
}
.skillsBox {
    width: 50%;
    box-sizing: border-box;
    margin: 20px 0;
}
.skillsBox p {
    color: #fff;
    font-family: bold;
    padding: 0;
    margin: 0 0 10px;
}
.skillsBox p:nth-child(2) {
    float: right !important;
    position: relative;
    top:-30px;
}
.skill { 
    background: #6b6b6b;
    padding: 2px;
    border: 1px solid #2e2e2e; 
    border-radius: 1px;
}
.skill-level1 {
    background: #ef6326;
    width: 90%;
}
.skill-level2 {
    background: #27a3e1;
    width: 85%;
}
.skill-level3 {
    background: #f7df1e;
    width: 60%;
}
.skill-level4 {
    background: #21759a;
    width: 62%;
}

.skill-level1, .skill-level2, .skill-level3, .skill-level4 {
    height: 9px;
    transform-origin: 0% 0%;
    transform: scaleX(0);
    transition-duration: 1s;
}
.skill-anim {
    transform: scaleX(1) !important;
}

.row-without-margin-bottom {
    margin-bottom: 0px !important;
    border-bottom: 1px solid #5a5a5a;
}

.collapsible-body-info {
    background-color: #363535;
}

.th {
    text-align: right;
    width: 90px;
    display: table-cell;
}

.td {
    text-align: left;
    display: table-cell;
    padding-left: 5px;
    width: calc(100% - 90px);
}

#anim {
    display: flex; 
    justify-content: center;
    margin-top: 35px !important;
    margin-bottom: 25px !important;
    text-align: center !important;
    transform-origin: 100% 50%;
    transform: scale(0) rotate(90deg);
    transition-duration: 0.9s;
}

.animacija {
    transform: scale(1) rotate(0deg) !important;
}

@media screen and (max-width: 992px) {
    .col  {
        width: 50% !important;
        text-align: center !important;
    }
    .centrirano {
        margin-left: 100px !important;
    }
    .profile-position {
        text-align: center !important;
    }
    .left {
        text-align: left !important;
    }
}

@media screen and (max-width: 760px) {
    .col  {
        width: 100% !important;
        text-align: center !important;
    }
    .profile-position {
        text-align: center !important;
    }
    .text {
        margin-left: -74px !important;
    }
    .centrirano {
        margin-left: 100px !important;
    }
    .background-prva, .background-druga, .background-treca, .background-cetvrta {
        width: calc(85% - 62px) !important;
        border-bottom-right-radius: 0px !important;
        border-top-right-radius: 0px !important;
    }

    .prva, .druga, .treca, .cetvrta {
        width: calc(85% - 122px) !important;
        text-align: left;
        padding-left: 20px;
    }

    .arrow-down {
        position: absolute;
        right: calc(7.5% + 20px);
        border-color: white !important;
        color: white !important;
    }

    .material-icons-new-style {
        margin-left: 61px !important;
        border-bottom-left-radius: 0px !important;
        border-top-left-radius: 0px !important;
    }
    .green, .darken-2 {
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        left: 2px !important;
        z-index: 1;
    }
    
    .download-button {
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        left: 65px !important;
    }
    
    .arrow-down {
        border-radius: 50% !important;
    }
    .left {
        text-align: left !important;
    }
}   
@media screen and (max-width: 600px) {
    .background-prva, .background-druga, .background-treca, .background-cetvrta {
        width: calc(90% - 62px) !important;
        border-bottom-right-radius: 0px !important;
        border-top-right-radius: 0px !important;
    }
    .prva, .druga, .treca, .cetvrta {
        width: calc(90% - 122px) !important;
    }

    .arrow-down {
        position: absolute;
        right: calc(5% + 20px);
        border-color: white !important;
        color: white !important;
    }
    .arrow-down:hover {
        background: white !important;
    }
    .skillsBox p {
        text-align: left !important;
        color: #fff;
        font-family: bold;
        padding: 0;
        margin: 0 0 10px;
    }
    .skillsBox p:nth-child(2) {
        float: right !important;
        position: relative;
        top:-30px;
    }
    .centrirano {
        margin-left: 50px !important;
    }
    .slika {
        margin-left: -5px !important;
    }
} 
@media screen and (max-width: 400px) {
    .date-img {
        width: 100% !important;
        margin-top: 50px !important;
        margin-left: 0px;
    }
}  

@media  (max-width: 1201px) {
    #anim {
        width: auto;
    }
}

